body {
  background-color: rgb(247, 255, 128);
  // background-image: url('/src/images/sky.jpg');
  // background-size: cover;
}

.background-color {
  background: rgb(251, 65, 102);
  // background-image: url('/src/images/sky.jpg');
  // background-size: contain;
}

.pending {
  background-color: rgb(245, 255, 103) !important;
}

.pending-details {
  background-color: rgb(248, 254, 173) !important;
}

.past {
  background-color: rgb(154, 154, 154) !important;
}

.past-details {
  background-color: rgb(185, 185, 185) !important;
}

.upcoming {
  background-color: rgb(39, 255, 183) !important;
}

.upcoming-details {
  background-color: rgb(154, 255, 221) !important;
}

button {
  cursor: pointer;
  border: none;
}

h1 {
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 2.05em;
    margin-bottom: 5px;
    margin-left: 22px;
  }
  
  h2 {
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
  }

  button {
    height: fit-content;
    margin-right: 50px;
    margin-bottom: 40px;
    background: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
  }
}

span {
  font-style: italic;
}

.trips-container {
  margin-top: -30px;
  margin-bottom: 90px;
  cursor: pointer;
}

.trips-heading {
  width: fit-content;
  transform: rotate(-4.25deg);
  transform-origin: 0% 100%;
  margin-bottom: 12px;
  padding: 3px 7px 3px 7px;
  margin-left: 20px;
  background-color: white;
}

.trips-list {

  h5 {
    font-size: 1.4em;
  }

  .trip-container {
    transform: rotate(-4.25deg);
    transform-origin: 0% 100%;
    margin-left: -30px;
    margin-right: -30px;
  }

  .trip-header {
    display: flex;
    align-content: center;
    width: 100%;
    height: 45px;
    margin-top: 8px;
  }

  .trip-header:hover {
    filter: brightness(120%);
    }


  .name {
    margin-right: 15px;
    margin-left: 55px;
    align-self: center;
    
  }
  
  .date {
    margin-right: 20px;
    align-self: center;
    color: black;
  }

  .status {
    margin-right: 20px;
    font-style: italic;
    align-self: center;
    color: black;
  }

  .trip-details {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 0vh;
    overflow: hidden;

    img {
      height: 90%;
      align-self: center;
    }
  }
}

.spent-container {
  width: 100%;
  margin-right: 0;
  margin-top: -82px;
  margin-bottom: 50px;
  transform: rotate(-4.25deg);
  transform-origin: 0% 100%;
  display: flex;
  justify-content: flex-end;

  h4 {

    font-size: 1.2em;
  }

  div {
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }

  p {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.destinations-heading {
  text-align: center;
  background-color: rgb(245, 255, 102);
  margin-bottom: 5px;
  margin-top: -30px;
  font-size: 1.5em;
  padding-top: 3px;
  padding-bottom: 3px;
}

.destination-header {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: rgb(219, 219, 219);
  margin-top: 5px;
  position: relative;

  h3 {
    font-size: 1.2em;
  }
}

#plane {
  height: 50%;
  align-self: center;
  display: inline-block;
}

.fly {
  margin-left: 70%;
  margin-right: 30px;
  transition: margin .5s ease;
}

.fly-back {
  margin-left: 0%;
  transition: margin .5s ease;
}

label {
  font-size: 1.05em;
}

.destination-name {
  align-self: center;
  margin: 0 10px 0 10px;
  font-size: .85em;
}

.destination-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 8vh;
  background-color: rgb(185, 185, 185);
  overflow: hidden;
}

.destination-image {
  height: 90%;
  align-self: center;
}

.trip-form {
  display: flex;
  align-items: center;

  input {
    height: 25px;
    margin-left: 5px;
    margin-right: 10px;
  }

  .travelers-field,
  .duration-field {
    width: 50px;
    border: none;
  }

  .departure-date-field {
    width: 110px;
    border: none;
  }

  button {
    margin-left: 5px;
    height: 25px;
    border: none;
  }

  button:hover {
    background-color: rgb(251, 255, 136);
  }
}

.new-costs {
  margin-top: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4, p {
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1em;
    margin-right: 5px;
  }
}

.login-title {
  position: absolute;
  top: 0;
  left: 20px;
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 10px;
    font-size: 1.2em;
  }
}

.login-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width:600px;
  height: 600px;
  background: rgba(252,70,107,1);
  display: flex;

  flex-direction: column;
  justify-content: center;
  position: relative;

  h2 {
    margin-bottom: 100px
  }

  input {
    margin-left: 3px;
    border: none;
  }
}

.username-container,
.button-container,
.password-container {
  background-color: rgb(0, 255, 170);
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  width: 60%;
  margin-right: 40vh;
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
}

.password-error {
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
  margin-left: 205px;
  margin-top: -2%;
  color: white;
  font-style: italic;
  position: absolute;
  bottom: 40%;
}

.hidden {
  display: none !important;
}

.error-message {
  margin-top: 25%;
  text-align: center;
  font-size: 2em;
  background-color: rgb(76, 254, 195);
}

.collapse {
  transition: height .5s ease;
  height: 0vh !important;
  padding: 0;
}

.expand {
  transition: height .5s ease;
  height: 10vh !important;
  padding: 0;
}







