body {
  // background-color: rgb(247, 255, 128);
  // background: rgba(252,70,107,1);
}

.background-color {
  background: rgb(251, 65, 102);
}

button {
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 2em;
}

h2 {
  font-size: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: 5px;
    margin-left: 27px;
  }
  
  h2 {
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
  }

  button {
    height: fit-content;
    margin-right: 50px;
    margin-bottom: 40px;
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
  }
}

ul {
  margin-left: 0;
}

.trips-container {
  margin-top: -30px;
  margin-bottom: 90px;
  cursor: pointer;
}

.trips-heading {
    width: fit-content;
    transform: rotate(-4.25deg);
    transform-origin: 0% 100%;
    margin-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
}

.trips-list {
  // z-index: 2;

  .trip-header {
    display: flex;
    align-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(76, 254, 195);
    margin-top: 8px;
    padding-left: 10px;
    transform: rotate(-4.25deg);
    transform-origin: 0% 100%;
  }

  .name {
    margin-right: 15px;
    align-self: center;
    
  }
  
  .date {
    margin-right: 20px;
    align-self: center;
    color: black;
  }

  .status {
    margin-right: 20px;
    font-style: italic;
    align-self: center;
    color: black;
  }

  .trip-details {
    display: flex;
    justify-content: space-evenly;
    height: 0vh;
    background-color: rgb(183, 250, 228);
    transform: rotate(-4.25deg);
    transform-origin: 0% 100%;
    overflow: hidden;

    img {
      height: 90%;
    }
  }
}



// .plane-container {
//   width: 50%;
// }

.spent-container {
  width: 100%;
  margin-right: 0;
  margin-top: -60px;
  margin-bottom: 50px;
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
  display: flex;
  justify-content: flex-end;

  h4 {
    font-size: 1.2em;
  }

  div {
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }

  p {
    margin-left: 10px;
  }
}

.destinations-heading {
  text-align: center;
  background-color: rgb(247, 255, 128);
  margin-bottom: 5px;
  margin-top: -30px;
  font-size: 1.5em;
}

// .destinations-heading {
//   transform: rotate(4deg);
//   transform-origin: 0% 100%;
// }

.destination-header {
  display: flex;
  width: 100%;
  height: 27px;
  background-color: rgb(219, 219, 219);
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  // transform: rotate(4deg);
  // transform-origin: 0% 100%;
}

#plane {
  height: 50%;
  align-self: center;
  display: inline-block;
}

.fly {
  margin-left: 70%;
  margin-right: 30px;
  transition: margin .5s ease;
}

.fly-back {
  margin-left: 0%;
  transition: margin .5s ease;
}

.destination-name {
  align-self: center;
  margin: 0 10px 0 10px;
  font-size: .85em;
}

.destination-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 8vh;
  background-color: rgb(185, 185, 185);
  overflow: hidden;
  // transform: rotate(4deg);
  // transform-origin: 0% 0%;
  // display: none;
}

.destination-image {
  height: 90%;
}

.trip-form {
  display: flex;
  align-items: center;

  input {
    height: 25%;
    margin-left: 3px;
    margin-right: 10px;
  }

  .travelers-field,
  .duration-field {
    width: 50px;
  }
}

.new-costs-container {
  display: flex;
  margin-top: 10px;
}

.new-costs {
  height: fit-content;
  display: flex;
  flex-direction: column;

  h4, p {
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1em;
    margin-right: 5px;
  }
}

.pending {
  background-color: rgb(180, 222, 208) !important;
}

.past {
  background-color: grey !important;
}

.login-title {
  position: absolute;
  top: 0;
  left: 20px;
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 10px;
    font-size: 1.2em;
  }
}

.login-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  
  width:600px;
  height: 600px;
  background: rgba(252,70,107,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  h2 {
    margin-bottom: 100px
  }

  input {
    height: 78%;
    margin-left: 3px;
  }
}

.username-container,
.password-container,
.button-container {
  background-color: rgb(76, 254, 195);
  display: flex;
  margin-top: 5px;
}


.username-container,
.button-container,
.password-container {
  width: 60%;
  justify-content: flex-end;
  margin-right: 40vh;
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
}

.password-error {
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
  margin-left: 205px;
  margin-top: -2%;
  color: white;
  font-style: italic;
  position: absolute;
  bottom: 40%;
}

.hidden {
  display: none !important;
}

.error-message {
  margin-top: 25%;
  text-align: center;
  font-size: 2em;
  background-color: rgb(76, 254, 195);
}

.collapsed {
  transition: height .5s ease;
  height: 10vh !important;
  padding: 0;
}


// .password-container {
//   width: 60%;
//   margin-left: 40%;;
// }







