body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
  color: white;
  margin-bottom: 5px;
}

h2 {
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 40px;
}



ul {
  margin-left: 0;
}

.trips-heading {
    width: fit-content;
    transform: rotate(-5deg);
    transform-origin: 0% 100%;
    margin-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
}

.trips-list {
  // z-index: 2;

  .trip-header {
    display: flex;
    align-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(76, 254, 195);
    margin-top: 8px;
    padding-left: 10px;
    transform: rotate(-5deg);
    transform-origin: 0% 100%;
  }

  .name {
    margin-right: 1%
  }

  .trip-details {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    background-color: rgb(183, 250, 228);
    transform: rotate(-5deg);
    transform-origin: 0% 100%;
    display: none;

    img {
      height: 90%;
    }
  }
}

.spent-container {
  width: 100%;
  margin-right: 0;
  margin-top: 8px;
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
  display: flex;
  justify-content: flex-end;

  div {
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
  }

  p {
    margin-left: 10px;
  }
}

.destinations-heading {
  text-align: center;
  background-color:rgb(254, 252, 131);
  margin-bottom: 5px;
}

#trip-89-details {
  // display: flex;
}

.test {
  // z-index: 1;
  background-color: grey;
  transform: rotate(-80deg);
}

.destinations-list {
  // z-index: 2;
}

.destination-header {
  display: flex;
  align-content: center;
  width: 99%;
  height: 27px;
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  padding-left: 10px;
  // transform: rotate(4deg);
  // transform-origin: 0% 100%;
}

.destination-name {
  align-self: center;
  margin-right: 1%;
  font-size: .85em;
  margin-top: 0%;
  margin-bottom: 0%;
}

.destination-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 8vh;
  background-color: rgb(185, 185, 185);
  // transform: rotate(4deg);
  // transform-origin: 0% 0%;
  // display: none;
}

.destination-image {
  height: 90%;
}

.trip-form {
  display: flex;
  align-items: center;

  input {
    height: 25%;
    margin-left: 3px;
    margin-right: 10px;
  }
}

.new-costs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-costs {
  height: fit-content;
  display: flex;

  h5, p {
    margin-top: 0;
    margin-bottom: 0;
  }

  h5 {
    font-size: 1em;
    margin-right: 5px;
  }

}


.pending {
  background-color: grey !important;
}

.hidden {
  display: none;
}

.username-container,
.password-container,
.button-container {
  background-color: rgb(76, 254, 195);
  display: flex;
  margin-top: 5px;
}

.username-container,
.button-container,
.password-container {
  width: 60%;
  justify-content: flex-end;
  margin-right: 40vh;
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
}

.login-form {
  margin-top: 200px;
  display: none;

  input {
    height: 25%;
    margin-left: 3px;
  }
}

// .password-container {
//   width: 60%;
//   margin-left: 40%;;
// }







